<!DOCTYPE html>
<html class="scroll-smooth" lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{# styles #}}
    {{ vite src="resources/css/app.css" }}
    {{ vite src="resources/css/fontiran.css" }}
    {{ vite src='resources/css/fontirannum.css' }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    {{ vite src="resources/css/sidebar.css" }}
    {{ vite src='resources/css/footer.css' }}
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/life-cycle.png" type="image/x-icon"> 
    {{ stack:styles }}
    {{# end of styles #}}
    {{# javascript script #}}
    {{ vite src="resources/js/sidebar.js" }}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    {{# end javascript script #}}
    {{# start seo #}}
    {{ seo_pro:meta }}
    <meta name='author' content='{{pageAuthor}}, {{authorEmail}}'>
    <meta name='keywords' content='{{keyword}}'>
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{# end seo #}}
    

</head>
<body class="scroll-smooth bg-[#dfe5e1]">
    {{ partial:layouts/header }}
    {{ partial:layouts/sidebar }}
    {{ template_content }}
    {{ partial:layouts/footer }}
    
    
    {{ vite src='resources/js/sidebar.js' }}
    {{ vite src='resources/js/search-bar.js' }}
    {{ vite src='resources/js/app.js' }}
    {{ vite src='resources/js/footer-slider.js'}}
    {{ stack:scripts }}
    

</body>
</html>