<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چرخه حیات | lc360.ir</title>
    {{ vite src='resources/css/app.css'}}
    {{ vite src='resources/css/fontiran.css'}}
    {{ vite src='resources/css/fontirannum.css'}}
    {{ vite src='resources/css/slider.css'}}
    {{ vite src='resources/css/footer.css' }}
    {{ vite src='resources/css/sidebar.css'}}
    <link rel="shortcut icon" href="/life-cycle.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet"> 
    
</head>
<body class="bg-[#e8f6eb]">
    {{ partial:layouts/header }}
    {{ partial:layouts/sidebar }}
    <main class="min-h-screen w-screen max-w-[1350px] mx-auto">
        <div class="flex flex-col pc:flex pc:flex-row pc:mx-auto pc:justify-center mt-[15px]">
            <!--slider-->
            <section class="splide pc:m-0 grow mx-auto" id="specific-content">
                <div class="splide__arrows">
                    
                    <button class="splide__arrow splide__arrow--prev prev__specificslider">
                        <img src="{{vite:asset src='resources/assets/icon/thin-right-arrow.svg'}}">
                    </button>
                    <button class="splide__arrow splide__arrow--next next__specificslider">
                        <img src="{{vite:asset src='resources/assets/icon/thin-left-arrow.svg'}}">
                    </button>
                </div>
                <div class="splide__track">
                  <ul class="splide__list">
                    {{ collection from="news|documentary|articles|booklets|dailyReport" sort="createdAt:desc" }}
                    {{ if starContent }}
                    <li class="splide__slide">
                        <a class="w-full h-full" href="https://lc360.ir{{ url }}">
                            <img class="w-full h-full object-cover rounded-[8px]" src="{{starPoster}}" alt="">
                        </a>
                    </li>
                    {{ /if }}
                    {{/collection}}
                  </ul>
                </div>
            </section>
            
            <!--end slider-->
            
            <!--information-->
            <div class="mx-[10px] pc:m-0 pc:mr-[30px] pc:flex pc:flex-col pc:justify-center items-start">
                <!--information number 1-->
                <div class="flex justify-start flex-col items-start bg-[#BDD5C3] rounded-[5px] pc:w-[430px] h-[130px] mobile:mt-[15px] pc:mt-[0px]">
                    <div class="flex justify-start flex-row items-center mt-[4px]">
                        <img src="{{ vite:asset src='resources/assets/icon/dot.svg'}}" alt="point" class="mr-[10px] items-center">
                        <p class="text-[#1C4E00] iransans-bold text-[16px] m-0 mr-[4px]">منابع طبیعی</p>
                    </div>
                    <div class="flex justify-center flex-row items-center w-full pc:mt-[10px] grow">
                        <div class="flex justify-center flex-row items-start w-full">
                            <div class="flex flex-col items-center w-full m-0 basis-1/3">
                                <p class="w-fit m-0 h-fit iransans-500 pc:text-[15px] mobile:text-[13px] pc:mb-[2px]">انرژی مصرفی</p>
                                <p class="text-white iransans-500 text-[15px]  w-fit m-0 text-center">
                                    <a href="https://www.worldometers.info/" id="energy" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(MWh/TODAY)</span>

                            </div>

                            <div class="flex flex-col items-center w-full basis-1/3">
                                <p class="w-fit m-0 iransans-500 pc:text-[15px] mobile:text-[13px] pc:mb-[2px]">بیابان زایی</p>
                                <p class="text-white iransans-500 text-[15px] w-fit m-0 text-center">
                                    <a href="https://www.worldometers.info/" id="desertification" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(hectars/This Year)</span>
                            </div>

                            <div class="flex flex-col items-center justify-between w-full basis-1/3">
                                <p class="w-fit m-0 iransans-500 pc:text-[15px] mobile:text-[13px] pc:mb-[2px]">آب مصرفی</p>
                                <p class="text-white iransans-500 text-[15px] w-fit m-0 ">
                                    <a href="https://www.worldometers.info/" id="usedwater" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(milL/This Year)</span>
                            </div>

                        </div>
                    </div>
                </div>
                <!--end information number 1-->

                <!--information number 2-->
                <div class="flex justify-start flex-col items-start bg-[#BDD5C3] rounded-[5px] mt-[15px] pc:mt-[30px] pc:w-[430px] h-[130px]">

                    <div class="flex justify-start flex-row items-centermt-[4px] mt-[4px]">
                        <img src="{{ vite:asset src='resources/assets/icon/dot.svg'}}" alt="point" class="mr-[10px]">
                        <p class="text-[#1C4E00] iransans-bold text-[16px] m-0 mr-[4px]">محیط زیست</p>
                    </div>
                    <div class="flex justify-center flex-row items-center w-full pc:mt-[10px] grow">
                        <div class="flex justify-center flex-row items-start w-full">
                            <div class="flex flex-col items-center w-full m-0 basis-1/3">
                                <p class="w-fit m-0 h-fit iransans-500 pc:text-[15px] mobile:text-[13px]">تخریب جنگل</p>
                                <p class="text-white iransans-500 text-[15px] w-fit m-0 text-center">
                                    <a href="https://www.worldometers.info/" id="lostforest" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(hectars/This Year)</span>
                            </div>

                            <div class="flex flex-col items-center w-full basis-1/3">
                                <p class="w-fit m-0 iransans-500 pc:text-[15px] mobile:text-[13px]">کربن‌دی‌اکسید</p>
                                <p class="text-white iransans-500 text-[15px] w-fit m-0 text-center">
                                    <a href="https://www.worldometers.info/" id="co2" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(milL/This Year)</span>
                            </div>

                            <div class="flex flex-col items-center justify-between w-full basis-1/3">
                                <p class="w-fit m-0 iransans-500 pc:text-[15px] mobile:text-[13px]">مواد سمی</p>
                                <p class="text-white iransans-500 text-[15px] w-fit m-0">
                                    <a href="https://www.worldometers.info/" id="toxic" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(tons/This Year)</span>
                            </div>

                        </div>
            
                    </div>
                </div>
                <!--end information number 2-->

                <!--information number 3-->
                <div class="flex justify-start flex-col items-start bg-[#BDD5C3] rounded-[5px] mt-[15px] pc:mt-[30px] pc:w-[430px] h-[130px]">

                    <div class="flex justify-start flex-row items-center mt-[4px]">
                        <img src="{{ vite:asset src='resources/assets/icon/dot.svg'}}" alt="point" class="mr-[10px]">
                        <p class="text-[#1C4E00] iransans-bold text-[16px] m-0 mr-[4px]">انسان</p>
                    </div>
                    <div class="flex justify-center flex-row items-center w-full pc:mt-[10px] grow">
                        <div class="flex justify-center flex-row items-start w-full">
                            <div class="flex flex-col items-center w-full m-0 basis-1/3">
                                <p class="w-fit m-0 h-fit iransans-500 pc:text-[15px] mobile:text-[13px]">مرگ به علت تغذیه</p>
                                <p class="text-white iransans-500 text-[15px] w-fit m-0 text-center">
                                    <a href="https://www.worldometers.info/" id="Undernourisheddie" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(Human/Day)</span>
                            </div>

                            <div class="flex flex-col items-center w-full basis-1/3">
                                <p class="w-fit m-0 iransans-500 pc:text-[15px] mobile:text-[13px]">تولیدات خودرو</p>
                                <p class="text-white iransans-500 text-[15px] w-fit m-0 text-center">
                                    <a href="https://www.worldometers.info/" id="carnumber" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(This Year)</span>
                            </div>

                            <div class="flex flex-col items-center justify-between w-full basis-1/3">
                                <p class="w-fit m-0 iransans-500 pc:text-[15px] mobile:text-[13px]">انسان‌های بدون آب</p>
                                <p class="text-white iransans-500 text-[15px] w-fit m-0">
                                    <a href="https://www.worldometers.info/" id="nowaterpeople" target="_blank"></a>
                                </p>
                                <span class="block w-[60%] border-t-[2px] mx-auto border-white my-[5px]"></span>
                                <span class="text-[12px] iransans-normal text-center block w-[80%] mx-auto">(Number Of People)</span>
                            </div>

                        </div>
            
                    </div>
                </div>
                <!--end information number 3-->
            </div>
            <!--end information-->
        </div>
        
        <section class="splide mobile:mb-[30px] mobile:mt-[80px] pc:my-[80px] mx-auto" id="news-slider">
            <div class="splide__arrows arrows__newsslider">
                <div class="flex flex-row items-center justify-center iransans-600 text-[16px] slider-title text-[#1C4E00]">
                    <div>
                        <img src="{{vite:asset src='resources/assets/icon/spill-border.svg'}}" alt="">
                    </div>
                    <div>
                        <span class="mr-[9px]">اخبار حیات</span>
                    </div>
                </div>
                <button class="splide__arrow splide__arrow--prev prev__newsslider">
                    <img src="{{vite:asset src='resources/assets/icon/right-arrow.svg'}}">
                </button>
                <button class="splide__arrow splide__arrow--next next__newsslider">
                    <img src="{{vite:asset src='resources/assets/icon/left-arrow.svg'}}">
                </button>
            </div>
            <div class="splide__track">
              <ul class="splide__list">
                {{collection:news limit="8" sort="createdAt:desc" }}
                
                <li class="splide__slide bg-white rounded-[5px]">
                    <div class="splide__slide__container">
                        <a href="https://lc360.ir{{ url }}">

                            <img class="rounded-t-[5px] h-full w-full object-cover" src="{{ featuredImagePostHorizental }}">
                        </a>
                        
                    </div>
                    <div class="h-[110px] flex flex-col">
                        <div class="grow mt-[4px]">
                            <a href="https://lc360.ir{{ url }}">
                                <span class="iransans-600 sansnum-600 text-[15px] ps-[10px] block w-full pe-[10px] text-justify">{{title}}</span>
                            </a>
                        </div>
                        <div class="mb-3 flex flex-row flex-wrap justify-start items-center ms-[10px]">
                            {{ topics }}
                            <div class="flex flex-row justify-center items-center bg-gray-100 rounded-[4px] p-[5px] me-[7px]">

                                <img class="pe-[3px]" src="{{vite:asset src='resources/assets/icon/dot.svg'}}" alt="">
                                <a class="iransans-normal text-[13px]" href="https://lc360.ir{{ url }}">
                                    {{ title }}
                                </a>
                            </div>
                            {{ /topics }}

                        </div>
                    </div>
                   
                </li>
                {{/collection:news}}
              </ul>
            </div>
        </section>

        <div class="hidden pc:block pc:">
            <div class="flex flex-row justify-evenly mx-auto mt-[30px]">
                <!--number 1-->    
                <div class="flex flex-col">
                    <a href="https://lc360.ir/topics/climate-change" target="__blank">
                        <img src="{{vite:asset src='resources/assets/icon/climate-change.svg'}}" alt="">
                    </a>
                    <a href="https://lc360.ir/topics/climate-change" target="__blank">
                        <p class="iransans-bold text-[16px] text-center m-0 mt-[4px]">تغییرات اقلیمی</p>
                    </a>
                </div>
                <!--end nuber 1-->
                
                <!-- number 2-->
                <div>
                    <a href="https://lc360.ir/topics/habitat" target="__blank">
                        <img src="{{vite:asset src='resources/assets/icon/ecosystem.svg'}}" alt="">
                    </a>
                    <a href="https://lc360.ir/topics/habitat" target="__blank">
                        <p class="iransans-bold text-[16px] text-center m-0 mt-[4px]">زیست گاه</p>
                    </a>
                </div>
                <!--end number 2-->

                <!--number 3-->
                <div>
                    <a href="https://lc360.ir/topics/biodiversity" target="__blank">
                        <img src="{{vite:asset src='resources/assets/icon/Biodiversity.svg'}}" alt="">
                    </a>
                    <a href="https://lc360.ir/topics/biodiversity" target="__blank">
                        <p class="iransans-bold text-[16px] text-center m-0 mt-[4px]">تنوع زیستی</p>
                    </a>
                </div>
                <!--end number 3-->

                <!--number 4-->
                <div>
                    <a href="https://lc360.ir/topics/human-life" target="__blank">
                        <img src="{{vite:asset src='resources/assets/icon/eco-human.svg'}}" alt="">
                    </a>
                    <a href="https://lc360.ir/topics/human-life" target="__blank">
                        <p class="iransans-bold text-[16px] text-center m-0 mt-[4px]">زیست انسانی</p>
                    </a>
                </div>
                <!--end number 4-->
            </div>
        </div>
        
        <div class="mx-[10px] flex flex-col pc:mt-[30px] pc:mx-0">
            <div class="flex flex-col pc:flex pc:flex-row">
                <!--post slider number 1-->
                <div class="flex flex-col mx-auto mobile:mt-[15px] pc:mt-[0px] w-full items-center justify-center pc:basis-1/3 pc:flex">
                    <div class="flex flex-row justify-between items-center mx-auto w-full">
                        <a href="https://lc360.ir/topics/climate-change">
                            <p class="m-0 iransans-bold text-[16px] text-[#1C4E00]">تغییرات اقلیمی</p>
                        </a>
                        <img src="{{vite:asset src='resources/assets/icon/array.svg'}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center w-full mt-[10px] pc:max-w-[440px]">
                        {{ collection:articles taxonomy:topics='climate-change' limit="1" sort="createdAt:desc" }}      
                        <div class="rounded-[25px] h-[247px]">
                            <a href="{{ url }}">
                                <img class="w-full h-full object-cover rounded-t-[5px]" src="{{ featuredImagePostHorizental }}" alt="{{ featuredImagePostHorizental:alt }}">
                            </a>
                        </div>
                        {{ /collection:articles }}
                        <div class="mx-auto m-0 flex flex-col justify-start bg-white w-full pc:w-full rounded-b-[8px]">
                            <!--overflow post slider number 1-->
                            <div class="h-[180px]">
                                {{ collection:articles taxonomy:topics='climate-change' limit='4' sort="createdAt:desc" }}
                                    
                                    <div class="flex items-center flex-row justify-start h-[45px]">
                                        <img src="{{ vite:asset src='resources/assets/icon/rectangle.svg'}}" alt="" class="mr-[10px]">
                                        <a class="truncate" href="https://lc360.ir{{ url }}">
                                            <p class="m-0 mr-[3px] iransans-normal text-[15px] truncate me-[10px]">{{ title }}</p>

                                        </a>
                                    </div>
                                    <hr class="m-0 w-[99%]">
                                {{ /collection:articles }}
                            </div>
                            <!--end overflow post slider number 1-->
                        </div>
                    </div>
                </div>
                <!--end post slider-->

                <!--post slider number 2-->
                <div class="flex flex-col mx-auto mobile:mt-[15px] pc:mt-[0px] pc:mx-[15px] w-full items-center justify-center pc:basis-1/3">
                    <div class="flex flex-row justify-between items-center mx-auto w-full">
                        <a href="https://lc360.ir/topics/habitat">
                            <p class="m-0 iransans-bold text-[16px] text-[#1C4E00]">زیست گاه</p>
                        </a>
                        <img src="{{ vite:asset src='resources/assets/icon/array.svg'}}">
                    </div>
                    <div class="flex flex-col justify-center w-full mt-[10px] pc:max-w-[440px]">
                        {{ collection:articles taxonomy:topics='habitat' limit="1" sort="createdAt:desc" }}
                            <div class="rounded-[25px] h-[247px]">
                                <a href="{{ url }}">
                                    <img class="w-full h-full object-cover rounded-t-[5px]" src="{{ featuredImagePostHorizental }}" alt="{{ featuredImagePostHorizentala:alt }}" class="m-0 w-full">
                                </a>
                            </div>
                        {{ /collection:articles }}
                        <div class="mx-auto m-0 flex flex-col justify-start bg-white w-full pc:w-full rounded-b-[8px]">
                            <!--overflow post slider number 2-->
                            <div class="h-[180px]">

                                
                                {{ collection:articles taxonomy:topics='habitat' limit="4" sort="createdAt:desc" }}
                                    
                                    <div class="flex items-center flex-row justify-start h-[45px]">
                                        <img src="{{ vite:asset src='resources/assets/icon/rectangle.svg'}}" class="mr-[10px]">
                                        <a class="truncate" href="https://lc360.ir{{url}}">
                                            <p class="m-0 mr-[3px] iransans-normal text-[15px] truncate me-[10px]">{{ title }}</p>
                                        </a>
                                    </div>
                                    <hr class="m-0 w-[99%]">
                                {{ /collection:articles }}
                                

                            </div>
                            <!--end overflow post slider number 2-->
                        </div>
                    </div>
                </div>
                <!--end post slider number 2-->

                <!--post slider number 3-->
                <div class="flex flex-col mx-auto mobile:mt-[15px] pc:mt-[0px] w-full items-center justify-center pc:basis-1/3">
                    <div class="flex flex-row justify-between items-center mx-auto w-full">
                        <a href="https://lc360.ir/topics/biodiversity">
                            <p class="m-0 iransans-bold text-[16px] text-[#1C4E00]">تنوع زیستی</p>
                        </a>
                        <img src="{{ vite:asset src='resources/assets/icon/array.svg'}}">
                    </div>
                    <div class="flex flex-col justify-center w-full mt-[10px] rounded-s-[50px] pc:max-w-[440px]">
                        {{ collection:articles taxonomy:topics='biodiversity' limit="1" sort="createdAt:desc" }}
                            <div class="rounded-[25px] h-[247px]">
                                <a href="{{ url }}">
                                    <img class="w-full h-full object-cover rounded-t-[5px]" src="{{ featuredImagePostHorizental }}" alt="{{ featuredImagePostHorizental:alt }}">
                                </a>
                            </div>       
                        {{ /collection:articles }}
                        

                        <div class="mx-auto m-0 flex flex-col justify-start bg-white w-full pc:w-full rounded-b-[8px]">
                            <!--overflow post slider number 3-->
                            <div class="h-[180px]">

                                {{ collection:articles taxonomy:topics='biodiversity' limit="4" sort="createdAt:desc" }}
                                    
                                    <div class="flex items-center flex-row justify-start h-[45px]">
                                        <img src="{{ vite:asset src='resources/assets/icon/rectangle.svg'}}" alt="چرخه حیات" class="mr-[10px]">
                                        <a class="truncate" class="block" href="https://lc360.ir{{ url }}">
                                            <p class="m-0 mr-[3px] iransans-normal text-[15px] truncate me-[10px]">{{ title }}</p>
                                        </a>
                                    </div>
                                    <hr class="m-0 w-[99%]">
                                {{ /collection:articles }}
                                
                            </div>
                            <!--end overflow post slider number 3-->
                        </div>

                    </div>
                </div>

                
                <!--end ost slider number 3-->
            </div>

            
        </div>

        <div class="mx-[10px] flex flex-col pc:mt-[30px] pc:mx-0">
            <div class="flex flex-col pc:flex pc:flex-row">
                <!--post slider number 1-->
                <div class="flex flex-col mx-auto mobile:mt-[15px] pc:mt-[0px] w-full items-center justify-center pc:basis-1/3 pc:flex">
                    <div class="flex flex-row justify-between items-center mx-auto w-full">
                        <a href="https://lc360.ir/topics/human-life">
                            <p class="m-0 iransans-bold text-[16px] text-[#1C4E00]">زیست انسانی</p>
                        </a>
                        <img src="{{vite:asset src='resources/assets/icon/array.svg'}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center w-full mt-[10px] pc:max-w-[440px]">
                        {{ collection:articles taxonomy:topics='human-life' limit="1" sort="createdAt:desc" }}
                                    
                        <div class="rounded-[25px] h-[247px]">
                            <a href="{{ url }}">
                                <img class="w-full h-full object-cover rounded-t-[5px]" src="{{ featuredImagePostHorizental }}" alt="{{ featuredImagePostHorizental:alt }}">
                            </a>
                        </div>
                            
                        {{ /collection:articles }}
                        <div class="mx-auto m-0 flex flex-col justify-start bg-white w-full pc:w-full rounded-b-[8px]">
                            <!--overflow post slider number 1-->
                            <div class="h-[180px]">
                                {{ collection:articles taxonomy:topics='human-life' limit="4"  sort="createdAt:desc" }}
                                    
                                    <div class="flex items-center flex-row justify-start h-[45px]">
                                        <img src="{{ vite:asset src='resources/assets/icon/rectangle.svg'}}" alt="چرخه حیات" class="mr-[10px]">
                                        <a class="truncate" href="https://lc360.ir{{ url }}">
                                            <p class="m-0 mr-[3px] iransans-normal text-[15px] truncate me-[10px]">{{ title }}</p>

                                        </a>
                                    </div>
                                    <hr class="m-0 w-[99%]">
                                {{ /collection:articles }}
                            </div>
                            <!--end overflow post slider number 1-->
                        </div>
                    </div>
                </div>
                <!--end post slider-->

                <!--post slider number 2-->
                <div class="pc:flex mobile:hidden flex-col mx-auto mobile:mt-[15px] pc:mt-[0px] pc:mx-[15px] w-full items-center justify-center pc:basis-1/3">
                    <div class="flex flex-row justify-between items-center mx-auto w-full">
                        <a href="https://lc360.ir/tags/animals">
                            <p class="m-0 iransans-bold text-[16px] text-[#1C4E00]">جانور</p>
                        </a>
                        <img src="{{ vite:asset src='resources/assets/icon/array.svg'}}">
                    </div>
                    <div class="flex flex-col justify-center w-full mt-[10px] pc:max-w-[440px]">
                        {{ collection:articles taxonomy:tags='animals' limit="1" sort="createdAt:desc" }}    
                        <div class="rounded-[25px] h-[247px]">
                            <a href="{{ url }}">
                                <img class="w-full h-full object-cover rounded-t-[5px]" src="{{ featuredImagePostHorizental }}" alt="{{ featuredImagePostHorizental:alt }}">
                            </a>
                        </div>
                        {{ /collection:articles }}

                        <div class="mx-auto m-0 flex flex-col justify-start bg-white w-full pc:w-full rounded-b-[8px]">
                            <!--overflow post slider number 2-->
                            <div class="h-[180px]">

                            
                                {{ collection:articles taxonomy:tags='animals' limit="4" sort="createdAt:desc" }}
                                    
                                    <div class="flex items-center flex-row justify-start h-[45px]">
                                        <img src="{{ vite:asset src='resources/assets/icon/rectangle.svg'}}" class="mr-[10px]">
                                        <a class="truncate" href="https://lc360.ir{{url}}">
                                            <p class="m-0 mr-[3px] iransans-normal text-[15px] truncate me-[10px]">{{ title }}</p>
                                        </a>
                                    </div>
                                    <hr class="m-0 w-[99%]">
                                {{ /collection:articles }}
                                

                            </div>
                            <!--end overflow post slider number 2-->
                        </div>
                    </div>
                </div>
                <!--end post slider number 2-->

                <!--post slider number 3-->
                <div class="pc:flex mobile:hidden flex-col mx-auto mobile:mt-[15px] pc:mt-[0px] w-full items-center justify-center pc:basis-1/3 ">
                    <div class="flex flex-row justify-between items-center mx-auto w-full">
                        <a href="https://lc360.ir/tags/air-pollution">
                            <p class="m-0 iransans-bold text-[16px] text-[#1C4E00]">آلودگی هوا</p>
                        </a>
                        <img src="{{ vite:asset src='resources/assets/icon/array.svg'}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center w-full mt-[10px] rounded-s-[50px] pc:max-w-[440px]">
                        {{ collection:articles taxonomy:tags='air-pollution' limit="1" sort="createdAt:desc" }}
                            <div class="rounded-[25px] h-[247px]">
                                <a href="{{ url }}">
                                    <img class="w-full h-full object-cover rounded-t-[5px]" src="{{ featuredImagePostHorizental }}" alt="{{ featuredImagePostHorizental:alt }}">
                                </a>
                            </div>      
                        {{ /collection:articles }}
                        <div class="mx-auto m-0 flex flex-col justify-start bg-white w-full pc:w-full rounded-b-[8px]">
                            <!--overflow post slider number 3-->
                            <div class="h-[180px]">

                                {{ collection:articles taxonomy:tags='air-pollution' limit="4" sort="createdAt:desc" }}
                                
                                    
                                    <div class="flex items-center flex-row justify-start h-[45px]">
                                        <img src="{{ vite:asset src='resources/assets/icon/rectangle.svg'}}" class="mr-[10px]">
                                        <a class="truncate" class="block" href="https://lc360.ir{{ url }}">
                                            <p class="m-0 mr-[3px] iransans-normal text-[15px] truncate me-[10px]">{{ title }}</p>
                                        </a>
                                    </div>
                                    <hr class="m-0 w-[99%]">
                                {{ /collection:articles }}
                                
                            </div>
                            <!--end overflow post slider number 3-->
                        </div>

                    </div>
                </div>

                
                <!--end ost slider number 3-->
            </div>

            
        </div>

        <section class="splide mobile:mb-[30px] mobile:mt-[80px] pc:mt-[80px] pc:mb-[40px] mx-auto" id="story-slider">
            <div class="splide__arrows arrows__newsslider">
                <div class="flex flex-row items-center justify-center iransans-600 text-[16px] slider-title text-[#1C4E00]">
                    <div class="flex flex-row">
                        <img src="{{vite:asset src='resources/assets/icon/spill-border.svg'}}" alt="">
                    </div>
                    <div>
                        <span class="mr-[9px]">روایت شما</span>
                    </div>
                </div>
                <button class="splide__arrow splide__arrow--prev prev__newsslider">
                    <img src="{{vite:asset src='resources/assets/icon/right-arrow.svg'}}">
                </button>
                <button class="splide__arrow splide__arrow--next next__newsslider">
                    <img src="{{vite:asset src='resources/assets/icon/left-arrow.svg'}}">
                </button>
            </div>
            <div class="splide__track">
              <ul class="splide__list">
                {{collection:dailyReport limit="8" sort="createdAt:desc"}}
                
                <li class="splide__slide bg-white rounded-[5px]">
                    <div class="splide__slide__container h-1/2">
                        <a href="https://lc360.ir{{ url }}">
                            <img class="rounded-t-[5px] h-full w-full object-cover" src="{{ featuredImagePostHorizental }}">
                        </a>
                        
                    </div>
                    <div class="h-[110px] flex flex-col">
                        <div class="ps-[10px] grow mt-[4px]">
                            <a href="https://lc360.ir{{ url }}">
                                <span class="iransans-600 sansnum-600 text-[15px] block pe-[10px] text-justify">{{title}}</span>
                            </a>
                        </div>
                        <div class="mb-3 flex flex-row flex-wrap justify-start items-center">
                            {{ topics }}
                            <div class="flex flex-row justify-center items-center mx-1 bg-gray-100 rounded-[4px] p-[5px] ms-[10px]">

                                <img class="pe-[3px]" src="{{vite:asset src='resources/assets/icon/dot.svg'}}" alt="">
                                <a class="iransans-normal text-[13px]" href="https://lc360.ir{{ url }}">
                                    {{ title }}
                                </a>
                            </div>
                            {{ /topics }}

                        </div>
                    </div>
                   
                </li>
                {{/collection:dailyReport}}
              </ul>
            </div>
        </section>
        
    </main>

    {{ vite src='resources/js/sidebar.js'}}
    {{ vite src='resources/js/footer-slider.js'}}
    {{ vite src='resources/js/search-bar.js'}}
    {{ vite src='resources/js/main-slider.js'}}
    {{ vite src='resources/js/statistic.js'}}
    {{ partial:layouts/footer}}
</body>
</html>