<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <script>
        var elms = document.getElementsByClassName( 'splide' );

        document.addEventListener( 'DOMContentLoaded', function () {
            
            new Splide( '#specificContent', {
                type    : 'loop',
                autoWidth : false,
                arrows : true,
                autoplay: 'false',
                perPage : 1,
                drag : true,

                
            }).mount();
            new Splide( '#documentaryPc', {
                type    : 'loop',
                autoWidth : true,
                arrows : false,
                autoplay: true,
                perPage : 1,
                drag : 'true',
                direction: 'rtl'

                
            }).mount();
            new Splide( '#test', {
                type    : 'loop',
                // autoWidth : true,
                arrows : true,
                autoplay: 'false',
                perPage : 1,
                drag : 'true',
                padding : {left : '2rem', right: '2rem'},
                direction: 'rtl'
            

                
            }).mount();

            new Splide( '#bookletPc', {
                type    : 'loop',
                // autoWidth : true,
                arrows : true,
                autoplay: 'false',
                perPage : 1,
                drag : 'true',
                padding: { left: 40},
                direction: 'rtl',
            

                
            }).mount();
            
        } );
        
    </script>
    <style>
        
        .splide__arrow--prev{
            background-color: white!important;
            margin: 0 10px 0 10px!important;
        }
        .splide__arrow--next{
            background-color: white!important;
            margin: 0 10px 0 10px!important;
        }
    </style>
    
</head>
<body class="bg-lime-50">
    <main class="max-w-[1350px] mx-auto">

        <section class="flex pc:flex-row mt-[20px] justify-center">   
            <div class="pc:w-[70%] flex pc:flex-row mobile:w-[98%]">
                
                <div class="pc:w-[675px] pc:me-[15px] mobile:mx-auto mobile:w-[95%]">
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 mb-[10px] rounded-[5px]">
        
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">مطالب برگزیده:</span>
                        </div>
                        <div>
                            <img src="{{vite:asset src='resources/assets/array.svg'}}" alt="">
                        </div>
                    </div>
                    
                    
                    <section class="splide" id="specificContent">
                        <div class="splide__slider">
                              <div class="splide__track">
                                  <ul class="splide__list justify-center items-center">
                                    {{ entries from="news,documentry,articles,booklets," limit="10" order="date:desc" }}
                                        {{ if starContent }}
                                        <li class="splide__slide text-center pc:h-[342px] mobile:h-fit">
                                            <img class="w-full rounded-[8px] object-fill" src="{{ featuredImagePost }}" alt="">
                                        </li>
                                        {{ /if }}
                                        
                                    {{ /entries }}
                                      {{# <li class="splide__slide text-center pc:h-[342px] mobile:h-fit">
                                        <img class="w-full rounded-[8px] object-fill" src="{{vite:asset src='resources/assets/slidertwo.jpg'}}" alt="">
                                         
                                        
                                      </li>
                                      <li class="splide__slide text-center pc:h-[342px] mobile:h-fit">
                                        <img class="w-full rounded-[8px] object-fill" src="{{vite:asset src='resources/assets/sliderthree.jpg'}}" alt="">
                                        
                                      </li> #}}
                                  </ul>
                              </div>
                        </div>
                      
                        
                    </section>
                    
                    
                </div>
                
                <div class="mobile:hidden pc:block w-[229px] mx-[15px]">
                    
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 mb-[10px] rounded-[5px]">
    
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">مستند های پینشهادی:</span>
                        </div>
                        <div>
                            <img src="{{vite:asset src='resources/assets/array.svg'}}" alt="">
                        </div>
                    </div>
                    
                    <div class="flex flex-col items-center justify-center bg-[#BDD5C3] py-2 rounded-[5px] h-[342px]">
                        <section class="splide h-full w-full" id="documentaryPc">
                            <div class="splide__slider h-full">
                                  <div class="splide__track h-full">
                                      <ul class="splide__list">
                                        {{collection:documentry taxonomy:categories="{{slug}}"}}
                                        
                                        <li class="splide__slide text-center w-full">
                                          <img class="rounded-[8px] mx-auto max-w-full w-[95%] h-[270px] object-cover" src="{{ featuredImagePost }}" alt="">
                                          <span class="text-center w-full iransans-bold my-1 block overflow-hidden">{{documentaryFarsiName}}</span>
  
                                        </li>
                                        {{/collection:documentry}}  
                                        
                                      </ul>
                                  </div>
                            </div>
                          
                            
                        </section>
                    </div>
                    
                </div>
            </div>
            <div class="pc:w-[30%] mobile:hidden pc:block ms-[15px]">
               
                <div class="bg-green-800 flex flex-row justify-between items-center p-1 rounded-[5px]">
        
                    <div>
                        <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">آخرین کتابچه‌ها:</span>
                    </div>
                    <div>
                        <img src="{{vite:asset src='resources/assets/array.svg'}}" alt="">
                    </div>
                </div>
            

                <div class="bg-[#BDD5C3] mt-[10px] h-[342px] rounded-[8px]">
                    <section class="splide h-full" id="bookletPc">
                            <div class="splide__slider h-full w-full">
                                  <div class="splide__track h-full w-full">
                                      <ul class="splide__list">
                                        {{collection:booklets taxonomy:categories="{{slug}}"}}
                                        
                                        <li class="splide__slide flex justify-center items-center">
                                            <div class="float-right w-1/2 ms-2 h-fulf">

                                                <img class="rounded-[8px] mx-auto h-full" src="{{ featuredImagePost }}" alt="">
                                            </div>
                                            <div class="float-right w-1/2 mx-2">

                                                <span class="text-center w-full iransans-bold my-1 block overflow-hidden">{{bookletName}}</span>
                                                <span class="text-right iransans-bold"> نویسنده:{{bookletAuthor}}</span>
                                                <div class="">
                                                    <div class="h-full whitespace-normal text-justify iransans-normal text-ellipsis">

                                                        {{postSummary}}
                                                        
                                                    </div>
                                                </div>
                                            </div>
  
                                        </li>
                                        {{/collection:booklets}}  
                                        
                                      </ul>
                                  </div>
                            </div>
                          
                            
                        </section>
                </div>
            </div>
        </section>
            
        <section class="flex flex-row my-[30px]">
            <div class="w-[70%] mobile:hidden pc:block">
                
                
                
                <div class="basis-1/3 mobile:hidden pc:block">
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 m-1 rounded-[5px]">
            
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">محتوای چند رسانه‌ای:</span>
                        </div>
                        <div>
                            <img src="{{vite:asset src='resources/assets/array.svg'}}" alt="">
                        </div>
                    </div>
                </div>
        
                
                
                <div class="mt-[10px]">
                    {{collection:articles taxonomy:categories="{{slug}}"}}
                    <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] my-[5px] h-[67px] pc:h-fit mx-auto bg-white">
                        <div class="w-1/3">
                            <img class="w-full" src="{{ featuredImagePost}}" alt="{{featuredImagePost:alt}}">
                        </div>
                        <div class="flex flex-col justify-between items-stretch grow">
                            <div class="w-full basis-2/3 content-start">
                                <span class="text-black text-[16px] iransans-500 mx-2">
                                    {{mainTitle}}
                                </span>
                                <div>
                                    <div class="iransans-normal text-justify w-[95%] mx-auto h-[70px] text-[13px]">

                                        {{postSummary}}
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center w-full basis-1/3">
                            
            
                                <div class="flex justify-center items-center flex-row">
                                    <img class="ps-1" src="{{vite:asset src='resources/assets/icon/dot.svg'}}" alt="">
                                    <p class="iransans-300 mx-1 text-[13px]">
                                        {{slug}}
                                    </p>
                                </div>
                                <div>
                                    <p class="mx-3 iransans-bold">
                                        {{? echo \Morilog\Jalali\Jalalian::fromCarbon($page->updated_at)->format('%B %d، %Y') ?}}
                                    </p>
                                </div>
                                    
                                
                                
                            </div>
                        </div>
                        
                    </div>
                    {{/collection:articles}} 
                    
                </div>
            </div>
            <div class="pc:grow pc:w-[30%] mobile:w-[95%] mobile:mx-auto">
                
                <div class="basis-1/3 pc:block">
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 m-1 rounded-[5px]">
            
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">اخبار جدید:</span>
                        </div>
                        <div>
                            <img src="{{vite:asset src='resources/assets/array.svg'}}" alt="">
                        </div>
                    </div>
                </div>
        
                
                {{collection:news taxonomy:categories="{{slug}}"}}
                                        
                <div class="flex flex-row justify-between items-center rounded-[5px] w-[98%] mt-[10px] h-[67px] mx-auto bg-white">
                    <div class="w-[150px] h-[67px]">
                        <img class="w-full h-full" src="{{featuredImagePost}}" alt="">
                    </div>
                    <div class="flex flex-col justify-center items-center grow">
                        <div class="w-full">
                            <span class="text-black text-[16px] iransans-500 mx-2">
                                {{newsTitle}}
                            </span>
                        </div>
                        <div class="flex flex-row justify-between items-center w-full pc:hidden">
                            
            
                            <div class="flex justify-center items-center flex-row">
                                <img class="ps-1" src="{{vite:asset src='resources/assets/icon/dot.svg'}}" alt="">
                                <p class="iransans-300 mx-1 text-[13px]">
                                    {{slug}}
                                </p>
                            </div>
                            <div>
                                <p class="mx-3 iransans-bold">
                                    {{? echo \Morilog\Jalali\Jalalian::fromCarbon($page->updated_at)->format('%B %d، %Y') ?}}
                                </p>
                            </div>
                                
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                {{/collection:news}} 
                
                
                <div class="pc:hidden mobile:block pc:mx-[15px] mt-[10px] mobile:w-[95%] mobile:mx-auto">
                    
                    <div class="bg-green-800 flex flex-row justify-between items-center p-1 mb-[10px] rounded-[5px]">
    
                        <div>
                            <span class="iransans-bold text-white border-r-4 border-amber-400 ps-2">مستند های پینشهادی:</span>
                        </div>
                        <div>
                            <img src="{{vite:asset src='resources/assets/array.svg'}}" alt="">
                        </div>
                    </div>
                    
                    <div class="flex flex-col items-center justify-center py-2 rounded-[5px]">
                        <section class="splide h-full w-full" id="test">
                            <div class="splide__slider h-full">
                                  <div class="splide__track h-full w-full">
                                      <ul class="splide__list justify-between items-center w-full">
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{vite:asset src='resources/assets/kiss.svg'}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">زمین را ببوس</span>
    
                                          </li>
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{vite:asset src='resources/assets/kiss.svg'}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">تستی</span>
    
                                          </li>
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{vite:asset src='resources/assets/kiss.svg'}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">تستی</span>
    
                                          </li>
                                          <li class="splide__slide text-center">
                                            <img class="w-[95%] rounded-[8px] mx-auto" src="{{vite:asset src='resources/assets/kiss.svg'}}" alt="">
                                            <span class="text-center w-full iransans-bold my-1 block overflow-hidden">تستی</span>
    
                                          </li>
                                          
                                          
                                      </ul>
                                  </div>
                            </div>
                          
                            
                        </section>
                    
                        
                        
                    </div>
                    
                </div>
                
                
            </div>
           
        </section>

        <section class="tablet:hidden">
            <div class="flex flex-col mx-auto mt-[15px] w-full items-center justify-between pc:basis-1/3 pc:flex">
                <div class="flex flex-row justify-between items-center mx-auto w-full bg-[#166434] mobile:w-[95%] rounded-[5px]">
                    <p class="m-0 mr-[10px] iransans-bold text-[16px] text-white">محتوای چند رسانه‌ای:</p>
                    <img src="{{vite:asset src='resources/assets/icon/array.svg'}}" alt="">
                </div>
                <div class="flex flex-col justify-center mt-[10px] w-[95%]">
                    <div class="mx-auto h-fit">
                        <img src="{{vite:asset src='resources/assets/sliderone.jpg'}}" alt="" class="m-0 w-full">
                    </div>

                    <div class="mx-auto m-0 flex flex-col justify-start bg-white w-full pc:w-full rounded-b-[8px]">
                      
                        <div class=" h-[180px] overflow-hidden overflow-y-visible">

                            <div class="flex items-center justify-start h-[45px]">
                                <p class="m-0 w-[410px] pc:w-full mr-[10px] iransans-bold text-[16px]">تو هم میتونی تغییر ایجادکنی!<p>                
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center flex-row justify-start h-[45px]">
                                <img src="{{vite:asset src='resources/assets/icon/rectangle.svg'}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center justify-start h-[45px]">
                                <img src="{{vite:asset src='resources/assets/icon/rectangle.svg'}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center justify-start h-[45px]">
                                <img src="{{vite:asset src='resources/assets/icon/rectangle.svg'}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center justify-start h-[45px]">
                                <img src="{{vite:asset src="resources/assets/icon/rectangle.svg"}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            <hr class="m-0 w-[99%]">
                            <div class="flex items-center justify-start h-[45px]">
                                <img src="{{vite:asset src='resources/assets/icon/rectangle.svg'}}" alt="" class="mr-[10px]">
                                <p class="m-0 mr-[3px] iransans-normal text-[15px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
       
    </main>
    
    
</body>
</html>

