<!-- Comments -->
<div class="mt-[25px] mb-[30px]">
  <div class="bg-[#FFC02E] w-[124px] h-[32px] rounded-[3px] shadow-md">
      <p class="iransans-bold text-[20px] mr-[65px] text-white">نظرات</p>
  </div>
  <div class="mt-[10px]">
      <p class="iransans-normal text-[16px] text-[#1E472C]">دیدگاه‌های ارسال شده توسط شما، پس از تایید در وب سایت منتشر خواهد‌شد.</p>
  </div>

  {{ meerkat:create class="w-full" data-attribute="test" }} 
  <div class="md:flex mb-6 flex-wrap">
    <div class="w-full text-sm flex flex-col drop-shadow-md"> 
        <textarea id="comment-content" name="comment"
                  class="w-full h-[120px] iransans-normal appearance-none bg-[#B7D6C2] placeholder-white block bg-grey-lighter text-grey-darker {--border--} rounded-tr-[10px] rounded-bl-[10px] focus:outline-dashed outline-1 focus:outline-[#FFC02E] outline-[#B7D6C2] transition-all duration-300 ease-linear {{ if error.comment }} border-red {{ else }} border-grey-lighter {{ /if }} pr-[20px] pt-[16px]"
                  placeholder="نظرتان را بیان کنید...">{{ old.comment }}</textarea>
        {{ if (error.comment) }}
        <p class="text-red text-xs italic iransans-normal text-[18px] text-white mt-[16px] mr-[20px]">{{ error.comment }}</p>
        {{ /if }}
    </div>

    <div class="flex flex-row w-full justify-center items-center mt-[10px]">

      <div class="w-full drop-shadow-md"> 
          <input
              class="w-full h-[40px] iransans-normal appearance-none bg-[#B7D6C2] placeholder-white block bg-grey-lighter text-grey-darker rounded-tr-[10px] rounded-bl-[10px] focus:outline-dashed outline-1 focus:outline-[#FFC02E] outline-[#B7D6C2] transition-all duration-300 ease-linear {{ if error.name }} border-red {{ else }} border-grey-lighter {{ /if }} pr-[20px]"
              id="comment-name" type="text" placeholder="نام و نام خانوادگی" name="name" value="{{ old.name }}">
          {{ if (error.name) }}
          <p class="text-red text-xs italic">{{ error.name }}</p>
          {{ /if }}
      </div>

      <div class="w-full drop-shadow-md mx-[10px]">
          <input
              class="w-full h-[40px] iransans-normal appearance-none bg-[#B7D6C2] placeholder-white block bg-grey-lighter text-grey-darker rounded-tr-[10px] rounded-bl-[10px] focus:outline-dashed outline-1 focus:outline-[#FFC02E] outline-[#B7D6C2] transition-all duration-300 ease-linear {{ if error.email }} border-red {{ else }} border-grey-lighter {{ /if }} pr-[20px]"
              id="comment-email" name="email" type="email" placeholder="آدرس ایمیل" value="{{ old.email }}">
          {{ if (error.email) }}
          <p class="text-red text-xs italic">{{ error.email }}</p>
          {{ /if }}
      </div>

      <div class="w-full drop-shadow-md max-w-[113px] ">
          <input type="submit"
                  class="iransans-bold w-full h-[40px] bg-teal bg-[#1F6136] text-white font-medium tracking-wide rounded-tr-[10px] rounded-bl-[10px] hover:brightness-150 hover:text-teal cursor-pointer"
                  value="ارسال">
      </div>
    </div>
  </div>
  {{ /meerkat:create }}
</div>
<!-- end Comments -->
{{# <div class="bg-white w-full h-full mt-[20px] pb-[20px] rounded-[5px]">
    <div class="flex flex-col justify-center items-center w-[97%] mx-auto">
      <div class="flex flex-row justify-between items-center p-[20px] w-full">
        <div class="">
            <p class="iransans-normal sansnum-normal">ایرانی</p>
        </div>
        <div>
            <p class="iransans-normal sansnum-normal">شنبه 21بهمن 1402 15:37</p>
        </div>
      </div>
      <div>
          <p class="iransans-normal sansnum-normal text-justify w-full p-[5px]">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
          </p>
      </div> 
      <div class="flex flex-row justify-between items-center p-[20px] mt-[20px] w-full">
        <div>
          <div>
            <img src="" alt="">
          </div>
          <div>
            <p class="iransans-bold sansnum-bold text-red-600">پاسخ</p>
          </div>
        </div>
        <div>
          <p class="iransans-normal sansnum-normal">7</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-center items-center w-[97%] mx-auto border-t-2">
      <div class="flex flex-row justify-between items-center p-[20px] w-full">
        <div class="">
            <p class="iransans-normal sansnum-normal">ایرانی</p>
        </div>
        <div>
            <p class="iransans-normal sansnum-normal">شنبه 21بهمن 1402 15:37</p>
        </div>
      </div>
      <div>
          <p class="iransans-normal sansnum-normal text-justify w-full p-[5px]">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
          </p>
      </div> 
      <div class="flex flex-row justify-between items-center p-[20px] mt-[20px] w-full">
        <div>
          <p class="iransans-bold sansnum-bold text-red-600">پاسخ</p>
        </div>
        <div>
          <p class="iransans-normal sansnum-normal">7</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-center items-center w-[97%] rounded-[4px] mx-auto mt-[20px] bg-gray-200">
      <div class="flex flex-row justify-between items-center p-[20px] w-full">
        <div class="">
            <p class="iransans-normal sansnum-normal">ایرانی</p>
        </div>
        <div>
            <p class="iransans-normal sansnum-normal">شنبه 21بهمن 1402 15:37</p>
        </div>
      </div>
      <div>
          <p class="iransans-normal sansnum-normal text-justify w-full p-[5px]">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
          </p>
      </div> 
      <div class="flex flex-row justify-between items-center p-[20px] mt-[20px] w-full">
        <div>
          <p class="iransans-bold sansnum-bold text-red-600">پاسخ</p>
        </div>
        <div>
          <p class="iransans-normal sansnum-normal">7</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-center items-center w-[97%] rounded-[4px] mx-auto mt-[40px] bg-gray-200">
      <div class="flex flex-row justify-between items-center p-[20px] w-full">
        <div class="">
            <p class="iransans-normal sansnum-normal">ایرانی</p>
        </div>
        <div>
            <p class="iransans-normal sansnum-normal">شنبه 21بهمن 1402 15:37</p>
        </div>
      </div>
      <div>
          <p class="iransans-normal sansnum-normal text-justify w-full p-[5px]">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
          </p>
      </div> 
      <div class="flex flex-row justify-between items-center p-[20px] mt-[20px] w-full">
        <div>
          <p class="iransans-bold sansnum-bold text-red-600">پاسخ</p>
        </div>
        <div>
          <p class="iransans-normal sansnum-normal">7</p>
        </div>
      </div>
    </div>
</div> #}}