{{ push:styles }}
    <style>
        #footer{
            background-image: url('{{ vite:asset src="resources/assets/layouts/footer/footerbackground.svg" }}');
            background-position: center bottom;
            background-repeat: repeat-x;
            background-size: contain;
        }
    </style>
{{ /push:styles }}



<footer>
    <section class="splide my-5" id="footer-slider">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
                <img class="h-full w-full object-contain" src="{{vite:asset src='resources/assets/layouts/footer/footer-slider/hamkar-1.png'}}" alt="">
            </li>
            <li class="splide__slide">
                <img class="h-full w-full object-contain" src="{{vite:asset src='resources/assets/layouts/footer/footer-slider/hamkar-2.png'}}" alt="">
            </li>
            <li class="splide__slide">
                <img class="h-full w-full object-contain" src="{{vite:asset src='resources/assets/layouts/footer/footer-slider/hamkar-3.png'}}" alt="">
            </li>
            <li class="splide__slide">
                <img class="h-full w-full object-contain" src="{{vite:asset src='resources/assets/layouts/footer/footer-slider/hamkar-4.png'}}" alt="">
            </li>
            <li class="splide__slide">
                <img class="h-full w-full object-contain" src="{{vite:asset src='resources/assets/layouts/footer/footer-slider/hamkar-5.png'}}" alt="">
            </li>
            <li class="splide__slide">
                <img class="h-full w-full object-contain" src="{{vite:asset src='resources/assets/layouts/footer/footer-slider/hamkar-6.png'}}" alt="">
            </li>
            <li class="splide__slide">
                <img class="h-full w-full object-contain" src="{{vite:asset src='resources/assets/layouts/footer/footer-slider/hamkar-7.png'}}" alt="">
            </li>
          </ul>
        </div>
    </section>

    <div class="bg-[#3f8155] p-4 footerbackground" id="footer">
        <div class="text-center mx-auto mobile:w-full max-w-[1140px]">
            <div class="w-fit mx-auto mobile:text-justify">
                <p class="iransans-500 sansnum-500 text-justify text-white text-sm mobile:w-full pc:text-center">
                    انسان می‌تواند با مصرفِ صرف، بن‌بست چرخۀ حیات باشد؛ یا می‌تواند به وظیفه‌اش عمل کند و با احیای چرخۀ حیات، زمین را از مرگ حتمی نجات دهد! ما با قدرت الهی که در ذات انسان آبادگر نهفته است به مصاف گرمایش زمین، تغییرات اقلیمی، فرسایش خاک، بحران آب، خشکسالی، طوفان، سیل، آلودگی هوا و ریزگردها می‌رویم!
                </p>
            </div>
            
        </div>
        
        <div class="text-center mx-auto max-w-[1140px]">
            <p class="iransans-500 sansnum-500 text-white text-sm">
                با ما در ارتباط باشید:
                <br>
                تماس: ۰۲۱۹۱۰۱۶۹۴۳    <br>    پـیــام: ۰۹۹۹۹۱۷۳۶۶۱
                <br>
                همچنین خواهشمندیم تصاویر اقدامات خود را جهت انتشار، از طریق آیدی”lc360admin@” در پیام‌رسان‌های ایتا، بله و روبیکا برای ما ارسال نمایید.
            </p>
        </div>
    </div>

    <!-- -- social media link in footer--start -- -->
    <div class="flex flex-row content-center justify-items-center bg-[#1b3126] mobile:justify-center">
        
        <div class="basis-1/5 h-fit mobile:hidden tablet:block"></div>
        <div class="basis-1/5 p-2 h-fit">
            <a class="mobile:flex mobile:flex-row mobile:justify-end" href="https://ble.ir/lc360admin">
                <img class="w-8" src="{{ vite:asset src="resources/assets/layouts/footer/bale.svg" }}" alt="کانال بله نهضت درخت">
            </a>
        </div>
        <div class="basis-1/5 text-center p-2 h-fit">
            <a href="https://rubika.ir/lc360admin">
                <img class="w-8 mx-auto" src="{{ vite:asset src="resources/assets/layouts/footer/rubica.svg" }}" alt="کانال روبیکا نهضت درخت">
            </a>
        </div>
        <div class="basis-1/5 text-right p-2 h-fit">
            <a class="mobile:flex mobile:flex-row mobile:justify-start" href="https://eitaa.com/lc360admin">
                <img class="w-8" src="{{ vite:asset src="resources/assets/layouts/footer/eitaa.svg" }}" alt="کانال ایتا نهضت درخت">
            </a>
        </div>
        <div class="basis-1/5 min-h-fit p-2 mobile:hidden tablet:block text-left">
            
        </div>
    </div>
    <!-- -- end -- -->


    <div class="bg-[#12221a] text-center p-2">
        <a class="iransans-bold underline text-white text-sm" href="https://lc360.ir">چرخه حیات - lc360.ir</a>
    </div>

    
    
</footer>
