
<div class="tablet:w-[320px] bg-gray-100 fixed right-0 bottom-0 top-0 min-h-screen overflow-hidden scroll-smooth overflow-y-auto mobile:w-full transition-all duration-200 ease-linear z-20" id="sidebar">
    <section class="p-2 text-left">
        <button class="w-fit border-0 padding-0" onclick="closeSidebar()">
            <i class="bi bi-arrow-right-square-fill text-[35px] text-[#76c04d]"></i>
        </button>
    </section>

    <section>
        <div class="text-right ms-2 mb-2">
            <span class="text-[15px] iransans-bold text-[#76c04d]">
                منوها
            </span>
        </div>
        <div class="text-right">
            <ul class="text-right">
                {{ nav:menu }}
                <li class="iransans-bold pc:hover:bg-lime-300 transition-all duration-200 ease-linear border-t-2 border-black">
                    
                    <a class="block py-2 ms-2" href="{{ url }}">
                        <i class="bi bi-house-door-fill"></i>
                        {{ title }}
                    </a>
                </li>
                    
                {{ /nav:menu  }}
                
                
                
            </ul>
            <ul class="text-right">
                {{nav:topicsq }}
                    <div class="accordion text-right">
                        <li class="ms-2 mt-5 text-[#76c04d] iransans-bold text-right">
                            <i class="bi bi-caret-left-fill text-black"></i>
                            {{ title }}
                        </li>
                    </div>
                    {{ if children }}
                    <div class="panel bg-gray-100">
                        <ul class="ms-10 mt-5">
                                <ul>
                                    {{ children }}
                                    <li class="iransans-normal my-1">
                                        <i class="bi bi-circle text-[10px]"></i>
                                        <a class="pc:hover:text-lime-300 transition-all duration-100 ease-linear" href="{{ url }}">
                                            <i class="bi bi-chevron-compact-left text-[10px]"></i>
                                            {{ title }}
                                        </a>    
                                    </li>
                                    {{ /children }}
                                </ul>
                                
                            </ul>
                        </div>
                    {{ /if }}
                    
                {{ /nav:topicsq  }}
                </ul>
        </div>
    </section>
</div>


   
    
