<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ vite src='resources/css/fontiran.css'}}
    {{ vite src='resources/css/fontirannum.css'}}
    {{ vite src='resources/css/footer.css'}}
    {{ vite src='resources/css/app.css'}}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-[#DFE5E1]">
    {{ partial:layouts/header }}
    {{ partial:layouts/sidebar }}
 
    <main class="flex flex-row justify-center items-start w-full mobile:max-w-full pc:max-w-[1350px] mx-auto mt-[40px] px-[10px]">
        <div class="mobile:w-[90%] pc:max-w-[69%]">
            <div class=" w-full">
                <h1 class="iransans-bold sansnum-bold text-[21px] text-[#1F6136] w-full">۸۶ گونه جانوری در خطر انقراض/مافیای خرید و فروش حیات وحش </h1>
            </div>
    
            <div class="w-full mt-[20px] bg-[#8FC7A3] shadow-md rounded-tr-[10px] rounded-bl-[10px]">
                <p class="iransans-bold sansnum-bold text-[18px] text-[#DCFAE6] p-[20px] text-justify">معاون سازمان حفاظت محـــیط زیست با اشاره به اینکه تعداد گونه‌های جانوری در خطر انقراض ۸۶ گونه خشکی زی است، گفت: ایران یکی از ۲۰ کشور غنی دنیا از نظر تنوع زیستی محسوب می‌شود.</p>
            </div>

            <div>
                <p class="iransans-normal text-[16px] mt-[20px] text-[#1E472C]">به گزارش خبرنگار مهر، حسن اکبری، معاون سازمان حفاظت محیط زیست در اولین نشست هم‌اندیشی مدیریت و پیشگیری قاچاق</p>
            </div>

            <div class="mt-[22px] h-[446px]">
                <img class="pc:w-[85%] mobile:w-full rounded-[5px] mx-auto h-full object-cover" src="{{ vite:asset src='resources/assets/jangal.png'}}" alt="">
            </div>

            <div class="mt-[20px]">
                <p class="iransans-normal sansnum-normal text-[16px] text-justify text-[#1E472C]">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </p>
            </div>

            <div class="mt-[20px]">
                <p class="iransans-bold sansnum-normal text-[20px] text-[#1A3D26]">
                    بیشترین قاچاق حیات وحش در ایران مربوط به ۴ پرنده
                </p>
            </div>

            <div class="mt-[20px]">
                <p class="iransans-normal sansnum-normal text-[16px] text-justify text-[#1E472C]">
                    گونه‌های حیات وحش اظهار داشت: ایران یکی از ۲۰ کشور غنی دنیا از نظر تنوع زیستی است و تاکنون ۸۶۶۰ گونه گیاهی در ایران شناسایی شدند که حدود یک سوم آنها آندمیک هستند.
                    معاون سازمان حفاظت محیط زیست گفت: تعداد گونه‌های جانوری در خطر انقراض ۸۶ گونه خشکی زی است و ۱۶۵ گونه خشکی‌زی حمایت و حفاظت شده است.
                    وی افزود: یک و نیم میلیون هکتار تالاب و ۱۳ و نیم میلیون هکتار مناطق شکار ممنوع داریم.
                    اکبری بیان داشت: دلایل کاهش جمعیت حیات وحش شکار غیر مجاز، تصادفات جاده‌ای، ورود گونه‌های مهاجم، بیماری‌های حیات وحش و قاچاق حیات وحش است. همچنین تغییر کاربری اراضی، جزیره‌ای شدن، چرای بی‌رویه، تغییر اقلیم و سایر اشکال تخریب گیاهی از دیگر دلایل کاهش جمعیت حیات وحش است.
                    وی بیان داشت: طبق تعریف دفتر مقابله با مواد مخدر و جرم سازمان ملل متحد برداشت، خرید فروش، واردات صادرات، پردازش، نگهداری و به دست آوردن و مصرف کردن گونه‌های گیاهی و جانوری وحشی بر خلاف قوانین ملی و بین المللی است و قاچاق حیات وحش شامل جمع آوری، حمل و نقل، پخش غیرقانونی جانوران و فرآورده‌های آنها است.
                </p>
            </div>
            
            <div class="mt-[20px]">
                <p class="iransans-bold text-[20px] text-[#1A3D26]">/پایان خبر</p>
            </div>
            <!-- Related news -->
            <div class="mt-[23px]">
                <div class="bg-[#FFC02E] w-[124px] h-[32px] rounded-[3px] shadow-md">
                    <p class="iransans-bold text-[20px] mr-[28px] text-white">اخبار مرتبط</p>
                </div>
                <div class="flex flex-row justify-start items-center mt-[10px]">
                    <img class="shadow-md" src="{{ vite:asset src='resources/assets/icon/dot.svg'}}" alt="">
                    <p class="iransans-normal text-[15px] text-[#303030] mr-[3px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                </div>
                <div class="flex flex-row justify-start items-center mt-[10px]">
                    <img class="shadow-md" src="{{ vite:asset src='resources/assets/icon/dot.svg'}}" alt="">
                    <p class="iransans-normal text-[15px] text-[#303030] mr-[3px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                </div>
                <div class="flex flex-row justify-start items-center mt-[10px]">
                    <img class="shadow-md" src="{{ vite:asset src='resources/assets/icon/dot.svg'}}" alt="">
                    <p class="iransans-normal text-[15px] text-[#303030] mr-[3px]">صدف؛ قهرمان گمنام در اعماق آب‌ها</p>
                </div>
            </div>
            <!-- end Related news -->

            <!-- Comments -->
            <div class="mt-[25px] mb-[30px]">
                <div class="bg-[#FFC02E] w-[124px] h-[32px] rounded-[3px] shadow-md">
                    <p class="iransans-bold text-[20px] mr-[65px] text-white">نظرات</p>
                </div>
                <div class="mt-[10px]">
                    <p class="iransans-normal text-[16px] text-[#1E472C]">دیدگاه‌های ارسال شده توسط شما، پس از تایید در وب سایت منتشر خواهد‌شد</p>
                </div>
                <div class="flex flex-col w-full justify-center items-center mt-[10px]">
                    <div class="w-full h-[120px] bg-[#B7D6C2] shadow-md rounded-tr-[10px] rounded-bl-[10px]">
                        <p class="iransans-normal text-[18px] text-white mt-[16px] mr-[20px]">نظرتان را بیان کنید...</p>
                    </div>
                    <div class="flex flex-row w-full justify-center items-center mt-[10px]">
                        <div class="w-full h-[40px] bg-[#B7D6C2] shadow-md rounded-tr-[10px] rounded-bl-[10px]">
                            <p class="iransans-normal text-[18px] text-white mt-[5px] mr-[20px]">نام و نام خانوادگی</p>
                        </div>
                        <div class="w-full h-[40px] bg-[#B7D6C2] mx-[10px] shadow-md rounded-tr-[10px] rounded-bl-[10px]">
                            <p class="iransans-normal text-[18px] text-white mt-[5px] mr-[20px]">آدرس ایمیل</p>
                        </div>
                        <div class="w-full max-w-[113px] h-[40px] bg-[#1F6136] shadow-md rounded-tr-[10px] rounded-bl-[10px]">
                            <button class="iransans-bold text-[18px] text-white mt-[5px] mr-[38px]">ارسال</button>
                        </div>
                    </div>
                </div>

                {{ partial:layouts/comments}}

            </div>
            <!-- end Comments -->
        </div>
        <!--    -->
        <div class="flex flex-col justify-center items-start max-w-[31%] mr-[30px] mobile:hidden tablet:hidden pc:block">
            <!-- hayat news -->
            <div>
                <div class="bg-[#1C4E00] shadow-md flex flex-row justify-between items-center rounded-[5px] w-full max-w-[387px] h-[35px]">    
                    <div class="ms-[3px] flex flex-row items-center justify-between iransans-bold text-[16px] text-white">
                        <div class="mr-[2px]">
                            <img src="{{vite:asset src='resources/assets/icon/spill-border.svg'}}" alt="">
                        </div>
                        <div class="mr-[6px]">
                            <span>اخبار حیات:</span>
                        </div>
                    </div>
                    <div>
                        <img src="{{ vite:asset src='resources/assets/icon/array.svg'}}" alt="">
                    </div>
                </div>
                
                <div class="flex flex-row justify-between items-center rounded-[5px] w-full max-w-[387px] mt-[10px] h-[57px] mx-auto bg-white shadow-md">
                    <div class="w-[26%] h-[57px] min-w-[110px] rounded-[5px]">
                        <a class="min-w-full w-full h-full block" href="{{url}}">
                            <img class="w-full h-full rounded-r-[5px] object-cover" src="{{ vite:asset src='resources/assets/jangal.png'}}" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col justify-center items-center grow max-w-[60%]">
                        <div class="w-full rounded-[5px]">
                            <span class="w-full w-block">
                                <a class="w-full block truncate ps-[10px] iransans-bold sansnum-bold text-[16px] pe-[10px]" href="{{url}}">
                                    خشکسالی‌های بی‌سابقه وطن
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end hayat news -->

            <!-- Suggested document -->
            <div class="mt-[20px]">
                <div class="bg-[#1C4E00] shadow-md flex flex-row justify-between items-center rounded-[5px] w-full max-w-[387px] h-[35px]">    
                    <div class="ms-[3px] flex flex-row items-center justify-between iransans-bold text-[16px] text-white">
                        <div class="mr-[2px]">
                            <img src="{{vite:asset src='resources/assets/icon/spill-border.svg'}}" alt="">
                        </div>
                        <div class="mr-[6px]">
                            <span>مستند پیشنهادی:</span>
                        </div>
                    </div>
                    <div>
                        <img src="{{ vite:asset src='resources/assets/icon/array.svg'}}" alt="">
                    </div>
                </div>

                <div class="flex flex-row justify-start item-center mt-[10px] bg-[#BDD5C3] w-full max-w-[387px] h-[341px] rounded-[8px] shadow-md">
                    <div class="w-[228px] rounded-[5px] m-[10px]">
                        <img class="h-full w-full object-cover" src="{{ vite:asset src='resources/assets/jangal.png'}}" alt="">
                    </div>

                    <div class="my-[10px] ml-[10px] max-w-[129px]">
                        <div>                            
                            <p class="iransans-bold text-[16px] text-[#1E1E1E]">زمین را ببوس</p>
                        </div>
                        <div class="mt-[5px]">
                            <p class="iransans-normal text-[12px] text-white">کارگردان: جان کوستر</p>
                        </div>
                        <div class="mt-[5px]">
                            <p class="iransans-normal text-[10px] text-[#1E1E1E] text-justify">
                                خلاصه: معـــــاون بانکـــی و اعتباری صندوق توسعه ملی با بیان اینکه ایـــن صندوق  100 میلیارد دلار از دولــــــــــت طلب دارد، گفت: برای وصول ایــــــــــن مطالبات از طریق سرمایه‌گذاری در میادین مشترک نفت و گاز اقدام می‌کنیم.
                                معاون بانکی و اعتباری صــــندوق توسعه ملی با بیان اینـــــــــکه این صندوق 100 میلیارد دلار از دولت طلب دارد، گفت: برای وصـول این
                                معاون بانکی و اعتباری صــــندوق توسعه ملی با بیان اینکـــــــــه این صندوق 100 میلیارد دلار ازت: برای وصـول این مطالبات از طریق سرمایه‌گذاری در میادین مشترک نفت و گــاز اقدامی‌کنیم
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Suggested document -->

            <!-- Suggested booklet -->
            <div class="mt-[20px]">
                <div class="bg-[#1C4E00] shadow-md flex flex-row justify-between items-center rounded-[5px] w-full max-w-[387px] h-[35px]">    
                    <div class="ms-[3px] flex flex-row items-center justify-between iransans-bold text-[16px] text-white">
                        <div class="mr-[2px]">
                            <img src="{{vite:asset src='resources/assets/icon/spill-border.svg'}}" alt="">
                        </div>
                        <div class="mr-[6px]">
                            <span>کتابچه پیشنهادی:</span>
                        </div>
                    </div>
                    <div>
                        <img src="{{ vite:asset src='resources/assets/icon/array.svg'}}" alt="">
                    </div>
                </div>

                <div class="flex flex-row justify-start item-center mt-[10px] bg-[#BDD5C3] w-full max-w-[387px] h-[341px] rounded-[8px] shadow-md">

                    <div class="w-[228px] rounded-[5px] m-[10px]">
                        <img class="h-full w-full object-cover rounded-[5px]" src="{{ vite:asset src='resources/assets/jangal.png'}}" alt="">
                    </div>

                    <div class="my-[10px] ml-[10px] max-w-[129px]">
                        <div>                            
                            <p class="iransans-bold text-[16px] text-[#1E1E1E]">یک بشقاب خالی...</p>
                        </div>
                        <div class="mt-[5px]">
                            <p class="iransans-normal text-[12px] text-white">نویسنده: ایمان ذکاوتمند</p>
                        </div>
                        <div class="mt-[5px]">
                            <p class="iransans-normal text-[10px] text-[#1E1E1E] text-justify">
                                شرح: معـــــاون بانکـــی و اعتباری صندوق توسعه ملی با بیان اینکه ایـــن صندوق  100 میلیارد دلار از دولــــــــــت طلب دارد، گفت: برای وصول ایــــــــــن مطالبات از طریق سرمایه‌گذاری در میادین مشترک نفت و گاز اقدام می‌کنیم.
                                معاون بانکی و اعتباری صــــندوق توسعه ملی با بیان اینـــــــــکه این صندوق 100 میلیارد دلار از دولت طلب دارد، گفت: برای وصـول این
                                معاون بانکی و اعتباری صــــندوق توسعه ملی با بیان اینکـــــــــه این صندوق 100 میلیارد دلار از دولت طلب دارد، گفت: برای وصـول این مطالبات از طریق سرمایه‌گذاری در میادین مشترک نفت و گــاز اقدام می‌کنیم
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Suggested booklet -->
        </div>
    </main>
    <!--    -->
    {{ vite src='resources/js/sidebar.js' }}
    {{ vite src='resources/js/footer-slider.js' }}
    {{ vite src='resources/js/search-bar.js' }}
    {{ vite src='resources/js/main-slider.js' }}
    {{ vite src='resources/js/statistic.js' }}

    {{ partial:layouts/footer }}

</body>
</html>