{{ push:styles }}
{{ vite src='resources/css/article.css'}}
{{ /push:styles }}



<!-- title and sudo title section -->
<div class="max-w-[1140px] mx-auto mt-[50px]">
    <div class="iransans-600 my-5 text-[20px] mobile:w-[95%] pc:w-full mx-auto">
        <h1>
            {{mainTitle}}
        </h1>
    </div>
    <div class="bg-[#f3f3f3] my-5 rounded-[8px] mobile:w-[95%] pc:w-full mx-auto">
        <div class="p-5 sansnum-100 text-[#454545] text-[17px] text-justify iransans-normal">
            {{soduTitleArticle}}
        </div>
    </div>
</div>

<div class="max-w-[1140px] mx-auto">
    {{ articleContext }}
    <div class="flex flex-col justify-center items-center">
        {{ if articleCLip }}
        <div class="mx-auto my-5">
            <video class="w-[90%] mx-auto rounded-[8px]" controls>
                <source src="{{articleCLip}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            
        </div>
        {{ /if }}
        <div class="text-justify iransans-500 text-[16px] sansnum-500 leading-[20px] grow" id="articleContent">

            {{articleContent}}
        </div>
        
        
    </div>    

    {{ /articleContext }}
</div>

{{ current= {{slug}}}}
<div class="max-w-[1140px] mx-auto">
    <div>
        <span class="iransans-bold">مقالات مرتبط</span>
    </div>
    <ul class="list-disc">
        {{ topics }}
                {{ collection from='articles' taxonomy:topics="{{ slug }}" slug:isnt="{{current}}"}}
                <li class="h-fit w-fit list-disc list-inside">
                    <a class="text-[#264b2c] iransans-300" href="{{ url }}">
                        {{ mainTitle }}
                    </a>
                </li>
                <span class="iransans-300 mt-4 block">
                    {{? echo \Morilog\Jalali\CalendarUtils::convertNumbers(\Morilog\Jalali\Jalalian::fromCarbon($page->updated_at)->format('%Y-%m-%d')) ?}}
                </span>
                {{ /collection }}        
        {{ /topics}}
    </ul>
</div>